.layout-main {
display: flex;
flex-direction: column;
row-gap: 1rem;
padding: 0.7rem;
}

.layout-personal-data {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    line-height: 2rem;
}

.layout-professional-data {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    line-height: 2rem;
}